{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}
{% block body %}
    <h3>Cart</h3>
        <div class="row mb-2">
            <table class="table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Unit Price</th>
                        <th>Qty</th>
                        <th>Amount</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in fullCart %}
                    <tr>
                        <td>
                            <h5>{{ book.bookTitle }}</h5>
                            <div>Isbn: {{ book.bookIsbn }}</div>
                            <div>Category: {{ book.bookCategory }}</div>
                        </td>
                        <td>{{ book.bookUnitPrice}}</td>
                        <td>{{ book.bookQty }}</td>
                        <td>{{ book.bookTotalPrice}}</td>
                        <td width="25%">
                            <div class="row">
                                <div class="col">
                                    <form method="POST" action="{{ path('reduce_cart') }}">
                                        <button type="submit" class="btn btn-light" {% if (book.bookQty < 2) %} disabled="disabled" title="Disabled"{% endif %}> - </button>
                                        <input type="hidden" name="itemId" value="{{ book.bookId }}" />
                                    </form>
                                </div>
                                <div class="col">
                                    <form method="POST" action="{{ path('update_cart') }}">
                                        <button type="submit" class="btn btn-light"> + </button>
                                        <input type="hidden" name="itemId" value="{{ book.bookId }}" />
                                    </form>
                                </div>
                                <div class="col">
                                    <form method="POST" action="{{ path("remove_cart_item") }}">
                                        <button type="submit" class="btn btn-danger"> x </button>
                                        <input type="hidden" name="itemId" value="{{ book.bookId }}" />
                                    </form>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}

                    <tr class="table-active">
                        <td colspan="3">Sub Total</td>
                        <td>{{ subTotal }}</td>
                        <td></td>
                    </tr>

                    <tr>
                        <td colspan="4">Coupon Code</td>
                        <td>
                            <form method="post" action="{{ path("update_coupon_code") }}">
                                <input type="text" name="couponCode" value="{{ couponCode }}" class="form-control"/>
                                <br/>
                                <button type="submit" class="btn btn-primary btn-block">Apply Coupon</button>
                                <br />
                                <a href="{{ path("reset_coupon") }}">Reset Coupon</a>
                            </form>
                        </td>
                    </tr>

                    <tr class="table-active">
                        <td colspan="5">
                            Applied Discounts
                        </td>
                    </tr>

                    {% if (discountAmount > 0) %}
                        {% for desc in discountDescription %}
                            <tr>
                                <td colspan="5">{{ desc }}</td>
                            </tr>
                        {% endfor %}
                        <tr class="table-active">
                            <td colspan="3">Total Discounts</td>
                            <td>{{ discountAmount }}</td>
                            <td></td>
                        </tr>
                    {% else %}
                        <tr>
                            <td>No Discounts Applied</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <td colspan="3"><h3>Total</h3></td>
                        <td><h3>{{ grandTotal }}</h3></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
