{% extends 'base.html.twig' %}

{% block title %}Home - Bookstore{% endblock %}
{% block body %}
        <div class="row mb-2">
            <div class="col mb-2">
                <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col">
                            Items in Cart: {{ cartCount }}
                        </div> 
                        <div class="col">
                            <a href="{{ path("show_cart") }}" class="btn btn-primary">Show My Cart</a>
                        </div> 

                        <div class="col">
                            <form class="form-inline" method="GET">
                                <div class="col">
                                    <div class="form-group mb-2">
                                        <select name="category" class="form-control" onchange="this.form.submit()">
                                            <option value="0" {% if (filter == '') %} selected="selected" {% endif %}>-- Filter books by category --</option>
                                            {% for category in categories %}
                                                <option value="{{ category.id }}" {% if (filter == category.id) %} selected="selected" {% endif %}>{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div> 
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        Books
                    </div>
                    <div class="card-body">

                    <div class="row"> 
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Book Details</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                    {% for book in books %}
                        <tr>
                            <td>
                                <h3>{{ book.title }}</h3>
                                <div>ISBN: {{ book.isbn }}</div>
                            </td>
                            <td>
                                <form method="POST" action="{{ path("add_to_cart") }}">
                                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                                    <input type="hidden" name="itemId" value="{{ book.id }}" />
                                    <input type="hidden" name="isbn" value="{{ book.isbn }}" />
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                        </tbody>
                        </thead>
                    </table>
                    </div>

                    </div>
                </div>
            </div>
        </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
